#!/usr/bin/env bash

##############################################################################
# Aliases that can be shared between BASH and ZSH

# Global git aliases
alias g='git'
alias gs='git status'
alias gsa='git add .'
alias c='f(){gsa && git commit -m "$1"};f'
alias entry='c "Entry" && gp'
alias note='c "Notes for $(date -I)" && gp'
