#!/usr/bin/env bash

##############################################################################
# Aliases that can be shared between BASH and ZSH

# Global git aliases
alias g='git'
alias gs='git status'
alias gsa='git add .'
alias c='f(){gsa && git commit -m "$1"};f'
alias v='vim'
alias e='emacsclient -n'
alias ai='sudo apt update && sudo apt install'
alias entry='git add . && git commit -m Entry && git push'
